<br>
<%= content_tag(:div, class:["post_comment"]) do %>
  <% if is_current_user?(comment.user) %>
    <%= render partial: "comments/form", locals: {comment: comment} %>
  <% else %>
    <p>"<%= comment.content %>" comment from <%= link_to comment.user.name, user_path(comment.user) %></p>
  <% end %>
<% end %>