<h1>Welcome to Help Y!</h1>
<p> the application that is <b>DEFINITELY</b> not a ripoff of helpx.</p>
<p>Ahem. <a href="https://www.helpx.net/"><strong>helpx</strong></a>. They have a great idea and an awesome community.</p>
<p>Unfortunately, to say their website looks and feels dated would be a compliment. sorry guys.</p>
<p>This app isn't supposed to be a better alternative; hopefully it can implement about the same functionality. cheers!</p>
<%= render "login" %>