<p>Welcome to help y! the place that is DEFINITELY not a ripoff of helpx.</p>
<p>Ahem. <a href="https://www.helpx.net/">helpx</a>. They have a great idea and an awesome community.</p>
<p>Unfortunately to say their website looks and feels dated would be a compliment. sorry guys.</p>
<p>This thing isn't supposed to be a better alternative, hopefully it can implement about the same functionality. cheers!</p>
<%= render "login" %>