<h1>Welcome to Help Y!</h1>
<p> the application that is <b>DEFINITELY</b> not a ripoff of helpx.</p>
<p>Ahem. <a href="https://www.helpx.net/"><strong>helpx</strong></a>. They have a great idea and an awesome community.</p>
<p>Unfortunately, to say their website looks and feels dated would be a compliment. sorry guys.</p>
<p>This app isn't supposed to be a better alternative; hopefully it can implement about the same functionality. cheers!</p>
<p>If you would like to test this site without having to manually enter your own information:</p>
<p>I have provided dummy information for you! just copy one of the User's input info from the first 5 lines <a href='https://github.com/Taylor-Williams/help-y/blob/master/db/seeds.rb'><strong>here</strong></a> 
<%= render "login" %>