<h1>All available Volunteer Opportunities</h1>

<div class="appointments"></div>

<script id="appointment-template" type="text/x-handlebars-template">
  <div class="appointment-content">
    <h2>{{title}}</h2>
    <h4>{{info}}</h4>
    <div class="appointment-data">
      from post: <a href="/posts/{{post.id}}">{{post.title}}</a>, <a href="/users/{{owner_id}}">{{owner_name}}</a>'s profile 
    </div>
    <input type="submit" value="More Info" class="more-info-button" data-id={{availableId}} />
  </div>
</script>
<script id="full-appointment-template" type="text/x-handlebars-template">
  <div class="appointment-content">
    <h2>{{title}}</h2>
    <h4>{{info}}</h4>
    <div class="appointment-data">
      <p>There are {{spots_left}} available spots for this opportunity</p>
      <p>Start Date: {{start_date}}</p>
      <p>End Date: {{end_date}}</p>
      <p>from post: <a href="/posts/{{post.id}}">{{post.title}}</a></p>
      <p>created by user: <a href="/users/{{owner_id}}">{{owner_name}}</a></p>
      <p>would you like to sign up to volunteer for this opportunity?</p>
      <form action="/appointments/{{id}}" method="get" class="volunteer-button">
        <input type="submit" value="Volunteer!" />
      </form>
    </div>
    <input type="submit" value="Next Volunteer Opportunity" id="next-info-button"/>
    <input type="submit" value="Last Volunteer Opportunity" id="last-info-button"/>
    <input type="submit" value="All Volunteer Opportunities" id="all-info-button"/>
  </div>
</script>