<h1>All available Volunteer Opportunities</h1>

<div class="appointments"></div>

<script id="appointment-template" type="text/x-handlebars-template">
  <div class="appointment-content">
    <h2>{{title}}</h2>
    <h4>{{info}}</h4>
    <div class="appointment-data">
      from post: <a href="/posts/{{post.id}}">{{post.title}}</a>, <a href="/users/{{owner_id}}">{{owner_name}}</a>'s profile 
    </div>
    <form action="/appointments/{{id}}" method="get" class="more-info-button" id="appointment-{{id}}">
      <input type="submit" value="More Info" />
    </form>
  </div>
</script>
<script id="full-appointment-template" type="text/x-handlebars-template">
  <div class="appointment-content">
    <h2>{{title}}</h2>
    <h4>{{info}}</h4>
    <div class="appointment-data">
      <p>There are {{spots_left}} available spots for this opportunity</p>
      <p>Start Date: {{start_date}}</p>
      <p>End Date: {{end_date}}</p>
      <p>from post: <a href="/posts/{{post.id}}">{{post.title}}</a></p>
      <p>created by user: <a href="/users/{{owner_id}}">{{owner_name}}</a></p>
      <p>would you like to sign up to volunteer for this?</p>
      <form action="/appointments/{{id}}" method="get" class="more-info-button">
        <input type="submit" value="Volunteer!" />
      </form>
    </div>
    <form id="next-info-button">
      <input type="submit" value="Next Volunteer Opportunity" />
    </form>
    <form id="last-info-button">
      <input type="submit" value="Last Volunteer Opportunity" />
    </form>
    <form id="all-info-button">
      <input type="submit" value="All Volunteer Opportunities" />
    </form>
  </div>
</script>

<% content_for :js do %>
  <script>
    class Appointment {
      constructor(attributes = {}) {
        this.post = attributes.post
        this.id = attributes.id
        this.title = attributes.title
        this.spots_left = attributes.spots_left
        this.info = attributes.info
        this.start_date = attributes.start_date
        this.end_date = attributes.end_date
        this.owner_id = attributes.owner_id
        this.owner_name = attributes.owner_name
        this.availableId = Appointment.allAppointments.length
        Appointment.allAppointments.push(this)
      }
      renderAppointment() {
        return Appointment.template(this)
      }
      renderFullApp(){
        return Appointment.fullTemplate(this)
      }
    }
    Appointment.getAppointments = function(){
      $.ajax({
        dataType: "JSON",
        url: '/appointments/available',
        method: "get"
      }).success((appointments) => {
        Appointment.renderAppointments(appointments)
        Appointment.attachMoreListeners()
      })
    }
    Appointment.renderAppointments = function(appointments) {
      appointments.forEach((appointment) => {
        a = new this(appointment)
        this.appointmentsDiv.append(a.renderAppointment())
      })
    }
    Appointment.attachMoreListeners = function(){
      $(".more-info-button").on("submit", function(e) {
        e.preventDefault()
        $.get($(this).attr("action"), (appointment) => {
          Appointment.appointmentsDiv.html(new Appointment(appointment).renderFullApp())
        })
      })
    }
    Appointment.renderTemplates = function(){
      this.template = Handlebars.compile(document.getElementById("appointment-template").innerHTML)
      this.fullTemplate = Handlebars.compile(document.getElementById("full-appointment-template").innerHTML)
    }
    Appointment.renderAttributes = function(){
      this.appointmentsDiv = $('.appointments')
      this.userID = $(".user-link").attr("href").slice(-1)
      this.allAppointments = []
    }
    $(
      function() {
        Appointment.renderTemplates()
        Appointment.renderAttributes()
        Appointment.getAppointments()
      }
    )
  </script>
<% end %>